<div class="page-sidebar">
        <!-- Site header  -->
        <header class="site-header">
          <div class="site-logo"><a href="/static/index.html"><img src="/static/images/logo.png" alt="Integral" title="Integral"></a></div>
          <div class="sidebar-collapse hidden-xs"><a class="sidebar-collapse-icon" href="/static/#"><i class="icon-menu"></i></a></div>
          <div class="sidebar-mobile-menu visible-xs"><a data-target="#side-nav" data-toggle="collapse" class="mobile-menu-icon" href="/static/#"><i class="icon-menu"></i></a></div>
        </header>
        <!-- /site header -->
        <!-- Main navigation -->
        <ul id="side-nav" class="main-menu navbar-collapse collapse">
          <li class="navigation-header">Main</li>
          <li class="has-sub">
            <a href="/static/collapsed-sidebar.html"><i class="icon-layout"></i><span class="title">Posts</span></a>
            <ul class="nav collapse">
              <li><a href="/all-post"><span class="title">All Post</span></a></li>
              <li><a href="/add-post"><span class="title">Add New</span></a></li>
            </ul>
          </li>
        </ul>
        <!-- /main navigation -->		
      </div>